{% extends 'base.html' %}

{% block title %}やること詳細一覧{% endblock %}
{% block h1 %}やること詳細一覧{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3">
    {% for item in object_list %}
        <div class="p-4 m-4 bg-light border border-primary rounded">
            <h4>{{ item.title }}</h4>
            <h6 class="text-primary">カテゴリー:{{ item.category }}</h6>
            <h5 class="text-primary">内容:
            <h5 class="text-danger">{{ item.text }}</h5>
            <div class="mt-3">
                <a href="{% url 'update-todo' item.pk %}">更新</a>
                <a href="{% url 'delete-todo' item.pk %}">削除</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
    
{% endblock content %}